module.exports = {
    default_engine: 'google',
    default_language: 'ja-JP',
    audio_dump_folder: 'audio_dump',
    olaris: {
        api_base: 'OLARIS_API_BASE',
        product_name: 'YOUR_PRODUCT_NAME',
        organization_id: 'YOUR_ORGANIZATION_ID',
        api_key: 'YOUR_API_KEY',
    },
}
